/* RESET */
html{
    margin: 0;
    position: 0;
    /* height: 100vh; */
}

body { 
    position: relative;
    /* margin: 3% auto; */
    margin: 10px auto;
    padding: 0% auto;
    background-color: rgba(183, 182, 155, 0.35);
    height: 100vh;
}
header h1 {
    text-align: center;

}

header ul {
    display:flex;
    /* text-align: end; */
    flex-direction: row;
    position:relative;
    margin: auto 20% auto 80%;
    
}

.ferny {
    height: 100px;
    width: 100px;
}

.nav-link {
    margin: 15px;
    width: 100px;
}

.flex-div {
    display: flex;
    flex-direction: row;

}


main h3 {
    position: relative;
    text-align: end;
    margin: 15px 15px 15px 15px;
    padding: 8px 40px 8px 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(237, 245, 127, 0.21);
}

section h2 {
    
    display: inline-block;
    margin: auto 15px;
    padding: 4% auto;
    position: relative;
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#aboutme p {
    margin: 25px;
}

.flex-div h2 {
    margin: 20px;
    padding: 20px;
    height: 50px;
    border-right: 3px solid black;
    flex: 0 0 10%
}



.flex-div h4{
    margin: 20px;
    padding: 35px;
    height: 50px;
    border-right: 3px solid black;
    flex: 0 0 20%

}


footer {
    display:inline;
    position: absolute;
    bottom: 0;
    /* text-align: start;
    margin: 15px auto;
    padding: 5% auto; */
}

footer h4 {
    /* margin-bottom: 25px; */
}
